<div class="container">
    <header class="row header">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Link</a>
            </li>
        </ul>
    </header>
    <div class="row">
        <div class="col-12 content">
            <app-admin-message></app-admin-message>
        </div>
    </div>
    <div class="row">
        <div class="col-12 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
