.header {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    border: 0.01rem solid #000;
    padding: 1rem;
}

.footer {
    margin-top: 0.3rem;
    border: 0.01rem solid #000;
    padding: 1rem;
}

.content {
    border: 0.01rem solid #000;
    padding: 1rem;
}

