<h1>Lista produktów</h1>
<button routerLink="/admin/products/add" mat-raised-button color="accent">Dodaj<mat-icon>add</mat-icon></button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.idProduct}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.idBrand}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/admin/products/update', element.idProduct]">
              <mat-icon>edit</mat-icon>
            </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[25, 50, 100]"
                    [pageSize]="25"
                    showFirstLastButtons
                    [length]="totalElements">
    </mat-paginator>
  </div>